div .aspectmod .basedie img {
    background-color: #b9fb9d;
    background-blend-mode: multiply;
}

div .aspectmod .E1die > img {
    background-color: #f5adff;
    background-blend-mode: multiply;
}


div .aspectmod .aspectdie > img {
    width: 32px;
    margin-top: 5px;
    margin-right: 5px;
    float:left;
    vertical-align: top;    
}